<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice]%></p>
<% end %>

<div class='main-show'>

  <div class='edit-show'>
    <p class='space'><strong>Title:</strong></p>
    <%= @book.title %>
  </div>

  <div class='edit-show'>
    <p class='space'><strong>Body:</strong></p>
    <%= @book.body %>
  </div>

</div>
<div class='edit-new'>
  <%= link_to 'edit', edit_book_path(@book) %>
  <p class='space2'>|</p>
  <%= link_to 'Back', books_path %>
</div>